.form{width: auto;border-radius: 5px;
    padding: 4px; margin-bottom: 8px; margin-top: 4px;
border-color: rgb(90, 11, 90);color: rgb(90, 11, 90);}
#geoButton{padding: 4px 15px;
    margin-top: 4px;
    margin-bottom: 8px;
    border-radius: 6px;}